*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}




body{
    font-family: "Fraunces 9pt", sans-serif;
    font-family: "Barlow Condensed", serif;
    background: #FEFCF7;
}

